html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

* {
    font-family: "Space Mono", monospace;
}

.bgset {
    background: radial-gradient(ellipse at center, #e6007a 0%, #000 70%);
    background-repeat: no-repeat;
}

#try3D {
    transform: rotateY(200deg);
}