<div class="relative bg-black bg-opactiy-50" id="info">

    <div
        class="container mx-auto max-w-screen-lg 2xl:max-w-screen-xl px-6 flex flex-col gap-5 lg:gap-6 sm:gap-4 relative pt-10 pb-10">

        <div class="flex flex-col sm:flex-row gap-2 sm:gap-8 lg:items-center justify-between">

            <div class="flex flex-col gap-1">
                <div class="flex items-center gap-3">
                    <img src="../img/blockth3.jpeg" width="50" height="50" alt="blockth3 logo">
                    <h2 class="text-gray-200 font-extrabold text-base select-none">Blockth3</h2>
                </div>
                <div>
                    <p class="ml-16 hidden lg:flex text-xs font-semibold text-gray-200">We build block by block.</p>
                </div>
            </div>



            <div class="hidden lg:flex flex-row items-center gap-4 cursor-pointer" onclick="openTab('we_build')">
                <div>
                    <div class="w-[10px] h-[10px] rounded-full bg-[#fe2a5c]"></div>
                </div>
                <p class="text-gray-200 text-sm font-semibold">We build</p>
            </div>

            <div class="hidden lg:flex flex-row items-center gap-4 cursor-pointer" onclick="openTab('connect1')">
                <div>
                    <div class="w-[10px] h-[10px] rounded-full bg-[#fe2a5c]"></div>
                </div>
                <p class="text-gray-200 text-sm font-semibold">Connect</p>
            </div>

            <div class="hidden lg:flex flex-row items-center gap-4 cursor-pointer" onclick="openTab('meet')">
                <div>
                    <div class="w-[10px] h-[10px] rounded-full bg-[#fe2a5c]"></div>
                </div>
                <p class="text-gray-200 text-sm font-semibold">Meet Us</p>
            </div>

            <div class="flex items-center gap-x-5 gap-y-5 flex-wrap px-5 py-3 lg:hidden">
                <div class="flex flex-row items-center gap-4 cursor-pointer" onclick="openTab('we_build')">
                    <div>
                        <div class="w-[10px] h-[10px] rounded-full bg-[#fe2a5c]"></div>
                    </div>
                    <p class="text-gray-200 text-sm font-semibold">We build</p>
                </div>

                <div class="flex flex-row items-center gap-4 cursor-pointer" onclick="openTab('connect1')">
                    <div>
                        <div class="w-[10px] h-[10px] rounded-full bg-[#fe2a5c]"></div>
                    </div>
                    <p class="text-gray-200 text-sm font-semibold">Connect</p>
                </div>

                <div class="flex flex-row items-center gap-4 cursor-pointer" onclick="openTab('meet')">
                    <div>
                        <div class="w-[10px] h-[10px] rounded-full bg-[#fe2a5c]"></div>
                    </div>
                    <p class="text-gray-200 text-sm font-semibold">Meet Us</p>
                </div>
            </div>

        </div>

        <div class="flex flex-row gap-8 lg:pb-3 items-center justify-center w-full">
            <a href="https://medium.com/@blockth3">
                <img src="../img/medium.png" class="w-[20px] h-[20px]" alt="medium">
            </a>
            <a href="https://www.linkedin.com/company/blockth3/">
                <img src="../img/linkedin.png" class="w-[20px] h-[20px]" alt="dev.io">
            </a>
        </div>

        <div class="relative flex flex-col items-center">
            <p class="text-gray-200 text-sm font-semibold select-none">Copyright © 2024 Blockth3</p>

        </div>




    </div>

</div>

</div>

<div class="hidden fixed z-20 top-0 w-full h-full bg-black bg-opacity-50 flex items-center justify-center"
    id="successMessage">
    <div class="flex flex-col items-center justify-center gap-10 p-10 rounded-2xl bg-opacity-80 bg-black">
        <h2 class="font-bold text-gray-200 text-center text-sm select-none">Connecting with your email account!</h2>
    </div>
</div>


<div class="hidden fixed z-20 top-0 w-full h-full bg-black bg-opacity-50 flex items-center justify-center"
    id="popUp">
    <div
        class="flex w-[90%] md:w-[60%] border-[3px] border-[#fe2a5c] lg:w-[40%] gap-10 p-10 rounded-2xl bg-black relative">

        <div class="absolute -top-8 -right-5">
            <div class="bg-[#fe2a5c] w-[30px] h-[30px] rounded-full text-lg flex items-center justify-center font-bold text-gray-200 cursor-pointer"
                onclick="closepopUp()">
                x
            </div>
        </div>

        <div class="hidden flex flex-col gap-3 content" id="we_build">
            <div>
                <h3 class="text-[#fe2a5c] text-lg font-semibold">What we build now?</h3>
            </div>
            <div class="flex flex-col gap-2">
                <p class="text-gray-300 text-sm">We are desire to build web, web3, blockchain, machine learning,
                    data science projects.</p>
                <p class="text-gray-300 text-sm">We have been using reference and get resourse from
                    <span class="text-[#fe2a5c] font-semibold">Github</span>, <span
                        class="text-[#fe2a5c] font-semibold">Medium</span>, <span
                        class="text-[#fe2a5c] font-semibold">DEV.to</span>, <span
                        class="text-[#fe2a5c] font-semibold">Stackoverflow</span>
                </p>
            </div>
        </div>

        <div class="hidden flex flex-col gap-3 content" id="connect1">
            <div>
                <h3 class="text-[#fe2a5c] text-lg font-semibold">Connect</h3>
            </div>
            <div class="flex flex-col gap-2">
                <p class="text-gray-300 text-sm">blockth3.io@gmail.com</p>
                <a href="https://www.linkedin.com/company/blockth3" class="text-gray-300 text-sm">Linkdin Profile</a>
            </div>
        </div>

        <div class="hidden flex flex-col gap-3 content" id="meet">
            <div>
                <h3 class="text-[#fe2a5c] text-lg font-semibold">Meet Us</h3>
            </div>
            <div class="flex flex-col gap-2">
                <p class="text-gray-300 text-sm">--</p>
            </div>
        </div>

    </div>
</div>

<div class="fixed bottom-4 right-6 z-10 hidden" onclick="goTop()" id="uparrow">
    <span
        class="select-none w-[40px] h-[40px] flex items-center justify-center material-symbols-outlined font-bold shadow-xl text-base text-[#6E6D6D] bg-[#731832] p-3 rounded-full cursor-pointer">
        arrow_upward
    </span>
</div>

